body, #body {
    margin: 0;
    width: 100vw!important;
    height: 100vh!important;
    overflow: hidden;
}

html, body {
    margin: 0 !important;
    padding: 0 !important;
}

#body {
    background: radial-gradient(#ffbd75, #ffcc68);

}

#contextMenu {
    position: absolute;
    background: #eec58c;
    border: 5px solid #fbb57b;
    border-radius: 5px;
    padding: 6px;
    display: none;
}

#editBox {
    position: absolute;
    display: none;
}

#editBox textarea {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    resize: none;
    margin: 0;
    border: 0;
    outline: none;
    font-size: 16px;
    background: #e57703;
    padding: 5px;
    box-sizing: border-box;
    line-height: 20px;
    overflow: hidden;
}

#controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #eec58c;
    z-index: 1;
    border-radius: 27px 27px 0 0;
    border: 5px solid #fbb57b;
    border-bottom: 0;
    transform: translateX(-105px);
    box-shadow: 1px 1px 10px #00000099;
}

#controls #newCard {
    width: 79px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #1e6d4f;
    background: #3bd8a2;
}

@media (max-width: 600px) {
    #controls {
        width: 100%;
        height: 50px;
        transform: translateX(0);
        left:0;
        border-radius: 0;
        padding: 3px;
    }

    #controls #newCard {
        width: 50px;
        height: 50px;
    }
}

#instructions {
    position: absolute;
    pointer-events: none;
    right: 0;
    width: 300px;
    border-radius: 0 0 0 32px;
    background: #ffdfb6;
    border: 9px solid #fbb57b;
    border-top: none;
    border-right: none;
    padding: 10px;
    color: #3d3c39;
    font-family: monospace;
}

#closeInstructions {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #ffdfb6;
    border: 9px solid #a27bfb;
    border-top: none;
    border-left: none;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
    margin: 4px;
}

.options {
    display: flex;
    width: 300px;
    flex-wrap: wrap;
    align-items: revert;
    justify-content: stretch;
}

.options button {
    margin: 1px;
    padding: 6px 10px;
    background: antiquewhite;
    border: 2px solid #bc876499;
    border-radius: 3px;
    width: auto;
    flex-grow: 1;
    font-family: monospace;
}